<nav>
  <div class="logo">
    <img src="assets/images/logo.jpg" class="img-circle" alt="">
  </div>
  <ul>
    <li>
      <a routerLink="/home/about">About</a>
    </li>
    <li>
      <a routerLink="/home/price">Price</a>
    </li>
    <li>
      <a routerLink="/home/order">Order</a>
    </li>
    <li>
      <a routerLink="/home/order">Info</a>
    </li>
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
        <span class="hidden-xs">Guest</span>
      </a>
      <ul class="dropdown-menu">
        <!-- User image -->
        <!-- <li class="user-header">
            <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

            <p>
              Alexander Pierce - Web Developer
              <small>Member since Nov. 2012</small>
            </p>
          </li> -->
        <!-- Menu Footer-->
        <li class="user-footer">
          <!-- <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div> -->
          <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">Sign up</a>
          </div>
        </li>
      </ul>
    </li>
    <li class="dropdown user user-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="hidden-xs">
          <span class="glyphicon glyphicon-th"></span>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li class="user-footer">
          <!-- <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">Thai</a>
            </div> -->
          <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">Eng</a>
            <a href="#" class="btn btn-default btn-flat">ไทย</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<header>
  <div class="headline">
    <div class="inner">
      <!-- <a routerLink="/home/order">
        <h1>Check price</h1>
      </a> -->

    </div>
  </div>
</header>
<section>
  <h2>Lorem ipsum</h2>
  <p>Sed lectus mi, eleifend quis congue non, lacinia id quam. Cras porta pellentesque nulla, ac auctor ligula scelerisque non.
    In vel placerat lacus. Nam pretium vitae purus et laoreet. Aliquam erat volutpat. Pellentesque id volutpat sem, et condimentum
    nisl. Donec bibendum congue mauris, ac commodo tortor volutpat ac. Donec lobortis lorem nisi, sit amet bibendum lacus
    vestibulum interdum. Donec mollis ligula at semper iaculis.</p>
  <p>Duis et vestibulum turpis. Duis non ultrices quam. Sed volutpat imperdiet sollicitudin. Aliquam erat volutpat. Donec at
    adipiscing purus. Duis varius metus vitae mattis pellentesque. Etiam tempor urna sed congue vulputate. Nulla neque metus,
    vulputate a dui ut, suscipit fringilla risus. Suspendisse posuere dignissim vestibulum. Praesent congue vestibulum dolor,
    quis lobortis libero egestas ac. Sed venenatis bibendum interdum. Curabitur rhoncus urna quis viverra varius. Cras posuere
    non tortor at volutpat. Suspendisse porta, turpis at ullamcorper imperdiet, felis lacus eleifend sapien, pulvinar elementum
    ipsum lacus ut elit. Sed ipsum erat, porttitor non malesuada at, interdum at nibh. Mauris ut ornare purus.</p>
  <h2>Nulla vitae lacus</h2>
  <p>Praesent commodo elit vel massa gravida lacinia. Maecenas auctor dignissim porttitor. Donec tincidunt mi eget semper bibendum.
    Morbi quis sagittis sapien. Fusce ut ligula purus. Nulla tristique augue nec lectus lacinia congue. Nunc tempus eros
    quam, ac sollicitudin mauris vehicula ac. Vivamus pulvinar elit ac risus placerat rutrum.</p>
  <p>Magna indoctum erroribus no his, alii fabellas eum an. Et tota clita eleifend eum, pri ne euismod eloquentiam, sea ei quas
    tibique. Ipsum tamquam cum id, tota clita congue ad usu. Ex eos admodum nominati. Eam ei summo dictas nostrum, vim harum
    graeco apeirian te. Sensibus persequeris nam an, cu legere oblique tincidunt eos, et soleat vivendum indoctum eos.</p>
  <p>Donec lobortis porta ipsum a tristique. Integer sit amet ipsum porta, bibendum mauris vitae, ultricies lectus.</p>
</section>